.card{
    height:60vh;
    width:25vw;
    /* display: flex; */
    margin: 2rem;
    transition: 1s;
    border-radius: 10px;
    background-color: #8ea3ff;
}
.card img{
    width:90%;
    height: 70%;
    /* border: 2px solid blue; */
   
}
.card h1{
    font-size: 2rem;
}